# To get started with the project, you'll need to:
#   - Make a copy of this file named `.env`
#   - Configure it to be correct to your environment (it will have secrets at this point)
#   - and finally source it every time you start one of the componenets to allow said components to have access to these variables
#
# Consider adding a source declaration to your ~/.bash_profile

export MYSQL_ROOT_PASSWORD='<LOOK UP FROM K8S>'
export MYSQL_HOST='<LOOK UP FROM K8S>'
export MYSQL_PORT='<LOOK UP FROM K8S>'
export REACT_APP_API_URL='http://localhost:8080'
